<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <style>
      body{
          background: powderblue;
      }
      .main img{
          width: 500px;
          height: 600px;
          margin: 50px auto 0;
      }
  </style>
</head>

<body>
  <div class="continer">
    <div class="main">
      <%- include('./common/maue.ejs')%>
      <img src="/images/mao.gif"/>
    </div>
  </div>
</body>
</html>