<div class="header">
    <div class="header-left">
        <h3><a href="/">xx后台管理系统</a></h3>
    </div>
    <div class="header-right">
        <p>欢迎您-xxx-(管理员)</p>
        <button type="button" class="btn btn-primary btn-lg active">退出</button>
    </div>
</div>